                <!-- Main Sidebar Start-->
                <div id="sidebar">
                    <!-- Wrapper for scrolling functionality -->
                    <div id="sidebar-scroll">
                        <!-- Sidebar Content -->
                        <div class="sidebar-content">
                            <!-- Brand -->
                            <a href="index.html" class="sidebar-brand">
                                <i class="gi gi-flash"></i><span class="sidebar-nav-mini-hide"><strong>Deshi</strong>Travels</span>
                            </a>
                            <!-- User Info -->
                            <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
                                <div class="sidebar-user-avatar">
                                    <a href="index.html">
                                        <img src="img/placeholders/avatars/avatar2.jpg" alt="avatar">
                                    </a>
                                </div>
                                <div class="sidebar-user-name">Admin User Name</div>
                                <div class="sidebar-user-links">
                                    <a href="profile.html" data-toggle="tooltip" data-placement="bottom" title="Profile"><i class="gi gi-user"></i></a>
                                    <a href="inbox.html" data-toggle="tooltip" data-placement="bottom" title="Messages"><i class="gi gi-envelope"></i></a>
                                    <a href="?action=logout" data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="gi gi-exit"></i></a>
                                </div>
                            </div>
                         <!-- END User Info -->
                         <!-- Sidebar Navigation -->
                            <ul class="sidebar-nav">
                                <li>
                                    <a href="index.html"><i class="gi gi-stopwatch sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Dashboard</span></a>
                                </li>        
                                
                                <li>
                                    <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-stopwatch sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Category</span></a>
                                    <ul>
                                        <li>
                                            <a href="addcategory.html">Add Category</a>
                                        </li>
                                        <li>
                                            <a href="viewcategory.html">Category List</a>
                                        </li>
                                       
                                    </ul>
                                </li>
                                <li>
                                    <a href="author.html"><i class="gi gi-stopwatch sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Authors</span></a>
                                </li>        
                                <li>
                                    <a href="article.html"><i class="gi gi-stopwatch sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Article</span></a>
                                </li>
                                <li>
                                    <a href="comment.html"><i class="gi gi-stopwatch sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Comment</span></a>
                                </li>
                                <li>
                                    <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-stopwatch sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Website Settings</span></a>
                                    <ul>
                                        <li>
                                            <a href="facebooklink.html">Add Facebook Links</a>
                                        </li>
                                        <li>
                                            <a href="twitter.html">Add twitter Links</a>
                                        </li>
                                        <li>
                                            <a href="google-plus.html">Add Google-plus Links</a>
                                        </li>
                                        <li>
                                            <a href="aboutus.html">About-Us Page</a>
                                        </li>
                                    </ul>
                                </li>         
                            </ul>
                            <!-- END Sidebar Navigation -->
                        </div>
                        <!-- END Sidebar Content -->
                    </div>
                    <!-- END Wrapper for scrolling functionality -->
                </div>
                <!-- Main Sidebar End-->