                        <!-- Mini Top Stats Row -->
                        <div class="row">
                          <div class="box round first grid">
                            <h2>Destination List</h2>
                            <div class="block">
                                <table class="data display datatable" id="example">
                                    <thead>
                                        <tr>
                                            <th width="33%">No</th>
                                            <th width="33%">Category Name</th>
                                            <th width="33%">Action</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                      
                                        <tr class="odd gradeX">
                                            <td>1</td>
                                            <td><p>cat_name</p></td>
                                            <td><a class="btn btn-info" href="catedit.htnl">Edit</a>
                                                <a class="btn btn-danger" onclick="return confirm('Are you Sure to Delete!');" href="#">Delete</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                           </div>
                        </div>
                    </div>
                        <!-- END Mini Top Stats Row -->
