<!-- Comment Form -->
<div class="comment-form">
    <div class="sec-title"><h2>Leave a comment</h2></div>
    <form method="post" action="">
        <div class="row clearfix">
            <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                <input type="text" name="usr_name" placeholder="Name ..." required>
            </div>
            
            <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                <input type="email" name="usr_email" placeholder="Email ..." required>
            </div>
            
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <textarea name="usr_msg" placeholder="Message ..."></textarea>
            </div>
            
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <button class="theme-btn" type="submit" name="submit-form">Submit Comment</button>
            </div>            
        </div>
    </form>        
</div>
<!--End Comment Form -->